body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  margin-top: 100px; /* Prevent navbar overlap */
  max-width: 900px; /* Set max width for page content */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container h1 {
  color: #d9534f;
  margin-bottom: 20px;
}

.container textarea {
  resize: none;
}

button {
  background-color: #d9534f;
  border-color: #d9534f;
}

button:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.container label {
  font-weight: bold;
}

.container textarea {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}
